<%- include('./templates/htmlStart', {title:'404'}) %>

    <div class="container h-auto">
        <h1 class="my-5">Error
            <i class="fa-solid fa-4"></i><i class="fa-solid fa-0"></i><i class="fa-solid fa-4"></i>
            : El recurso no fue encontrado, probablemente no existe
        </h1>
        <a href="/" class="btn btn-primary">Volver al inicio</a>
    </div>


    <%- include('./templates/htmlEnd') %>